$bg-color: #fde1e0;
$primary-color: #fc9ba2;
$secondary-color: #fec99a;
$accent-color: #F83468;

$primary-100:#E05297;
$primary-200:#F3BAD6;
$primary-300:#E0E2E5;
$accent-100:#f5be0b;
$accent-200:#fef1c7;
$text-100:#292524;
$text-200:#78716c;
$bg-100:#FCEEF5;
$bg-200:#ffffff;
$bg-300:#FAD9E6;

  

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

