@import "variables";

.card {
  /*box-shadow: 0px 0px 5px 2px #0000009d;*/
  height: 100%;
}

.text-truncate {
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.card {
  a {
    color: black;
    text-decoration: none !important;
    font-family: "Montserrat", sans-serif !important;
  }
  .card-body {
    background-color: $bg-color;
  }
}
